<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <title>Biopark</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" media="screen">
</head>

<body>
  <header>
    <div class="container-1">
      <nav class="menu">
        <div class="menu">
          <ul>
            <li>
              <a class="logo-biopark" href="/">
                <img src="./static/img/biopark_logo.png" class="logo-biopark">
              </a>
            </li>
            <li>
              <a class="home-html" href="/">Home</a>
            </li>
            <li>
              <a class="edif-html" href="/edificios">Edifícios</a>
            </li>
            <li>
              <a class="edif-html" href="/apartamentos">Apartamentos</a>
            </li>
            <li>
              <a class="loc-html" href="/locatarios">Locatários</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

    <section class="u-apr" id="sec" data-image-width="400" data-image-height="265">
      <div class="apr-biopark">
        <h1>BEM VINDO<br><br>AO<br><br>BIOPARK APARTMENT SYSTEM<br><br></h1>
        <a href="/edificios" class="btn-init">INICIAR</a>
      </div>
    </section>

    <footer>
      <p>
        Projeto desenvolvido por Wesley Antonio S. de A. Sobreira
      </p>
    </footer>
  
</body>
</html>